
@{
    ViewBag.Title = "Admin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center";font-family:'Segoe UI, Tahoma, Geneva, Verdana, sans-serif;'>TRANG QUẢN TRỊ CÁC SẢN PHẨM</h2>

