@model IEnumerable<SachOnline.Models.NhaXuatBan>


<ul class="list-group" style="padding: 2px; font-size: 14px; height: 200px; overflow-y: auto; background-color: rgba(0, 0, 0, 0); border: none;">
    <li class="list-group-item active text-white" style="font-weight: bold; text-align: center; padding: 8px; background-color: rgba(0, 0, 0, 0.05); border: none;">-- LOẠI SẢN PHẨM --</li>

    @foreach (var item in Model)
    {
        <a href="@Url.Action("NhaSanXuat", "SachOnline", new { iMaNXB = item.NhaXuatBanID })" class="list-group-item" style="padding: 8px; background-color: rgba(0, 0, 0, 0); border: none;">
            @item.NhaXuatBanName
        </a>
    }
</ul>



@*<ul class="list-group">
        <li class="list-group-item active" style="font-weight:bold; text-align:center">SÁCH THEO NHÀ XUẤT BẢN</li>

        <a href="#" class="list-group-item">Nhà xuất bản trẻ</a>
        <a href="#" class="list-group-item">NXB Thống kê</a>
        <a href="#" class="list-group-item">Kim Đồng</a>
        <a href="#" class="list-group-item">Đại học quốc gia</a>
        <a href="#" class="list-group-item">Văn hóa nghệ thuật</a>
        <a href="#" class="list-group-item">Văn hóa</a>
        <a href="#" class="list-group-item">Lao động - xã hội</a>
        <a href="#" class="list-group-item">Khoa học - kỹ thuật</a>

    </ul>*@
