@model SachOnline.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>CHI TIẾT BỘ SƯU TẬP</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Title)*@
            Tên bộ sưu tập:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.CategoryID }) |
    @Html.ActionLink("VỀ TRANG QUẢN LÝ BỘ SƯU TẬP", "Index")
</p>

