
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- customer section start -->
<div class="customer_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="customer_taital">About Us</h1>
            </div>
        </div>
        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="client_section_2">
                        <div class="client_main">
                           
                            <div class="client_right">
                                <h3 class="name_text">MyQueen</h3>
                                <p class="dolor_text">
                                    Giới thiệu
                                    MyQueen là một trong những cửa hàng chuyên kinh doanh balo, túi xách của Việt Nam. Với niềm đam mê ấp ủ và sự tâm huyết của mình, chúng tôi mong muốn sẽ đem đến cho cộng đồng giới trẻ Việt Nam những sản phẩm khác biệt, những trải nghiệm thú vị, một sân chơi độc đáo mà ở đó, mỗi người có thể tự do thể hiện cá tính của riêng mình.

                                    MyQueen không chỉ tập trung vào giá cả, mà chất lượng sản phẩm còn là một tiêu chí đặc biệt quan trọng. Toàn bộ sản phẩm đầu vào được kiểm tra tỉ mỉ, chọn lọc cẩn thận, hoàn chỉnh đến tay các bạn.

                                    Chúng tôi hi vọng sẽ mang đến cho các bạn những sản phẩm đặc biệt chất lượng, mỗi người đều có thể thoải mái phối theo phong cách của riêng mình, cùng MyQueen mua sắm thật chất lượng.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="client_section_2">
                        <div class="client_main">
                            
                            <div class="client_right">
                                <h3 class="name_text">MyQueen</h3>
                                <p class="dolor_text">
                                    MyQueen is one of the stores specializing in the business of backpacks and bags in Vietnam. With a passion and dedication, we aspire to bring unique products, interesting experiences, and a unique playground to the Vietnamese youth community. Here, everyone can freely express their own personality.

                                    MyQueen not only focuses on prices, but product quality is also an especially important criterion. All input products are meticulously checked, carefully selected, and perfected before reaching your hands.

                                    We hope to bring you special and quality products, where everyone can comfortably coordinate with their own style. Come and shop with MyQueen for a truly quality experience.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="client_section_2">
                        <div class="client_main">
                            
                            <div class="client_right">
                                <h3 class="name_text">MyQueen</h3>
                                <p class="dolor_text">

                                    HỆ THỐNG CỬA HÀNG TẠI TPHCM :<br />

                                    - 30/11A Bến Than, huyện Củ Chi, TPHCM .<br />

                                    - 216A Bình Mỹ, huyện Củ Chi, TPHCM .

                                    

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- customer section end -->
