
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- customer section start -->
<div class="customer_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="customer_taital">LIÊN HỆ VỚI CHÚNG TÔI</h1>
            </div>
        </div>
        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="client_section_2">
                        <div class="client_main">

                            <div class="client_right">
                                <h3 class="name_text">Số điện thoại</h3>
                                <p class="dolor_text">
                                    0965326842
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="client_section_2">
                        <div class="client_main">

                            <div class="client_right">
                                <h3 class="name_text">Email</h3>
                                <p class="dolor_text">
                                    kimquyen@gmail.com                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="client_section_2">
                        <div class="client_main">

                            <div class="client_right">
                                <h3 class="name_text">Trực tiếp tại:</h3>
                                <p class="dolor_text">

                                    HỆ THỐNG CỬA HÀNG TẠI TPHCM :<br />

                                    - 30/11A Bến Than, huyện Củ Chi, TPHCM .<br />

                                    - 216A Bình Mỹ, huyện Củ Chi, TPHCM .



                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- customer section end -->
