
@{
    ViewBag.Title = "XacNhanMuaLai";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="about_section layout_padding">
    <div class="container">
        <div class="about_section_main">
            <div class="row">
                <div class="col-md-6">
                    <div class="about_taital_main">
                        <h1 class="about_taital">XÁC NHẬN ĐƠN HÀNG</h1>
                        <p class="about_text">Đơn hàng của quý khách đã được chúng tôi ghi nhận, chúng tôi sẽ liên hệ đến quý khách trong thời gian sớm nhất và giao hàng đúng hẹn</p>
                        <div class="readmore_bt">
                            @Html.ActionLink("VỀ TRANG CHỦ", "Index", "SachOnline")
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div><img src="~/images/Giaohang1.png" class="image_3"></div>
                </div>
            </div>
        </div>
    </div>
</div>


